<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name=""></include>
		</run>
	</groups>
	<test thread-count="5" name="Open DMM for a given DocId Test">
		<classes>
			<class name="sameerLearningHub.tests.OpenDMM" />
		</classes>
	</test>
</suite> 
